.App {
  text-align: center;
}

.intr1{
  font-size: 135px;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  color: azure;
}

.intr2{
  font-style: italic;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  color: azure;
}

.App-header {
  /* You can change the color from App.js */
  /* background-color:#07142e; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
